.venv*
.vscode
Input/
Originals/
Out/
Out_resized/
ifc_diff_tests/ifc_files/SOS_20KOL_F_KON_Støttemur_09C.ifc
ifc_diff_tests/ifc_files/SOS_20KOL_F_KON_Støttemur.ifc
ifc_diff_tests/ifc_files/diff_result.json
